<h1>Opinions#index</h1>

<ul>
  <% @opinions.each do |o| %>
    <hr>
    <h3>"<%= o.item %> is the best <%= o.category %> in <%= o.field %>."</h3>
  <% end %>
</ul>


<p>Find me in app/views/opinions/index.html.erb</p>
