<h1>Users#show</h1>

<ul>
  <% @user.opinions.each do |o| %>
    <hr>
    <h3>"<%= o.item %> is the best <%= o.category %> in <%= o.field %>."</h3>
  <% end %>
</ul>

<p>Find me in app/views/users/show.html.erb</p>
