/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
*= require rails_bootstrap_forms
*= require_tree .
*= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap";


body {
  // background-color: #cfcfcf;
  background: -moz-linear-gradient(359deg, #cfcfcf 0%, #B3FFFE 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #cfcfcf), color-stop(100%, #B3FFFE)); /* safari4+,chrome */
  background: -webkit-linear-gradient(359deg, #cfcfcf 0%, #B3FFFE 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(359deg, #cfcfcf 0%, #B3FFFE 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(359deg, #cfcfcf 0%, #B3FFFE 100%); /* ie10+ */
  background: linear-gradient(91deg, #cfcfcf 0%, #B3FFFE 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfcfcf', endColorstr='#B3FFFE',GradientType=1 ); /* ie6-9 */
}

.jumbotron{
  background-image: url('pexels-foggy.jpg');
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: #090909;
  // text-shadow: white 0.1em 0.1em 0.1em;
}


// opinion boxes

.new-opinion-box {
  background: #FCFCFC;
  padding: 30px;
  border-radius: 5px;
//   border: black solid .1px;
}

.opinion-box {
  background: #FAFAFA;
  padding: 20px;
  border-radius: 2px;
  // border: black solid .1px;
}
